@using System.Collections
@using System.Data.Entity.Core.Metadata.Edm
@using System.Web.UI.WebControls
@using RestaurantPlay2.Areas.BookNow.ViewModels
@model BookNowFormViewModel



<div class="row">
	<div class="col-lg-offset-2 col-lg-8 col-sm-12">
		<h3>Want to make a booking?</h3>
		<h4>Book here!</h4>
		<br />
		<form class="form-horizontal" action="@Url.Action("SaveBooking","BookNow",new{@area="BookNow"})">
			@Html.HiddenFor(i => i.SaveBookingViewModel.BookingId)
			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					@Html.LabelFor(i => i.SaveBookingViewModel.Name, new { @class = "col-sm-4 control-label" })
					<div class="col-sm-8">
						@Html.TextBoxFor(i => i.SaveBookingViewModel.Name, new { @class = "form-control" })
						@Html.ValidationMessageFor(i => i.SaveBookingViewModel.Name)
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					@Html.LabelFor(i => i.SaveBookingViewModel.EmailAddress, new { @class = "col-sm-4 control-label" })
					<div class="col-sm-8">
						@Html.TextBoxFor(i => i.SaveBookingViewModel.EmailAddress, new { type = "email", @class = "form-control" })
						@Html.ValidationMessageFor(i => i.SaveBookingViewModel.EmailAddress)
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					@Html.LabelFor(i => i.SaveBookingViewModel.MobileNumber, new { @class = "col-sm-4 control-label" })
					<div class="col-sm-8">
						@Html.TextBoxFor(i => i.SaveBookingViewModel.MobileNumber, new { @class = "form-control" })
						@Html.ValidationMessageFor(i => i.SaveBookingViewModel.MobileNumber)
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					@Html.LabelFor(i => i.SaveBookingViewModel.ForDate, new { @class = "col-sm-4 control-label" })
					<div class="col-sm-8">
						@Html.TextBoxFor(i => i.SaveBookingViewModel.ForDate, new { @class = "form-control date", placeholder = "dd MMM yyyy HHh:ss", data_date_format = "DD MMM YYYY HH:ss" })
						@Html.ValidationMessageFor(i => i.SaveBookingViewModel.ForDate)
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					@Html.LabelFor(i => i.SaveBookingViewModel.OccasionId, new { @class = "col-sm-4 control-label" })
					<div class="col-sm-8">
						@Html.DropDownListFor(i => i.SaveBookingViewModel.OccasionId, Model.ListCategoryViewModel, new { @class = "form-control btn-default" })
						@Html.ValidationMessageFor(i => i.SaveBookingViewModel.OccasionId)
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					@Html.LabelFor(i => i.SaveBookingViewModel.HeadCount, new { @class = "col-sm-4 control-label" })
					<div class="col-sm-8">
						@Html.DropDownListFor(i => i.SaveBookingViewModel.HeadCount, Model.HeadCountList, new { @class = "form-control btn-default" })
						@Html.ValidationMessageFor(i => i.SaveBookingViewModel.HeadCount)
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-12">
				<div class="form-group">
					@Html.LabelFor(i => i.SaveBookingViewModel.Comment, new { @class = "col-sm-4 col-md-2 control-label" })
					<div class="col-sm-8 col-md-10">
						@Html.TextAreaFor(i => i.SaveBookingViewModel.Comment, new { @class = "form-control" })
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<button type="button" name="submit" class="btn btn-primary pull-right" click="CustomScripts.post(event,SavedBooking)">Submit</button>
				<input type="reset" name="Reset" value="Reset" class="btn btn-default pull-right btn-space" />
			</div>
		</form>
	</div>
</div>


<style>
	.input-validation-error {
		border: 1px solid red;
	}

	.field-validation-error {
		font-size: 10px;
	}
</style>

<script>
	function SavedBooking() {
		toastr['success']('Your booking was successfully saved!', 'Success!');
	}
</script>
