

<div class="form-horizontal">
	<div class="row">
		@Html.Action("BookNowForm", "BookNow", new { @area = "BookNow" })
		<hr />
		<h3>Booking Report <i class="fa fa-search pointer" onclick="$('.filterbox-container').slideToggle('slow');"></i></h3>
		@Html.Partial("_FilterBox")
		<br />
		<div id="BookingsReport">
			@Html.Partial("_BookingReport")
		</div>
	</div>
</div>


<style>
	a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
		cursor: pointer;
	}
</style>

@Scripts.Render("~/bundles/jquery")


<script>
	$(document).ready(function () {
		InitializeDataTable();
		SetTodayData();
	});

	var table;
	function InitializeDataTable() {
		table = $('#bookings').DataTable({
			"columns": [
				{
					"data": "Id",
					"title": "Id"
				},
				{
					"data": "Name",
					"title": "Name"
				},
				{
					"data": "MobileNumber",
					"title": "Mobile"
				},
				{
					"data": "EmailAddress",
					"title": "eMail"
				},
				{
					"data": "HeadCount",
					"title": "People"
				},
				{
					"data": "Comments",
					"title": "Comments"
				},
				{
					"data": "Occasion",
					"title": "Occasion"
				},
				{
					"data": "IsConfirmed",
					"title": "Confirmed"
				},
				{
					"data": "IsCanceled",
					"title": "Canceld"
				},
				{
					"data": "ForDate",
					"title": "Booked For"
				}
			],
			data : null
		});
	}

	function SetTodayData() {
		$.getJSON('@Url.Action("GetTodaysBookingsJSON", "BookNow")',
			function(data) {
				table.clear();
				table.rows.add(data);
				table.draw();
			});
	}
</script>