@model RestaurantPlay2.Areas.ImageCard.ViewModels.ImageCardViewModel

<div class="col-sm-4">
    <div class="panel panel-default">

        @if (Model.isEditable)
        {
            <div class="panel-heading">
                <a href="/ImageCard/ImageCard/DeleteImageCard?ImageID=@Model.ImageId">Delete</a>&nbsp;&nbsp;&nbsp;
                <a href="#" onclick="EditImageCard(@Model.ImageId)">Edit</a>
                <p>Is Active: @Model.DetailIsActive</p>
            </div>
        }

        <div class="panel-thumbnail">
            <img class="card-img-top" src="@Model.DetailImagePath" alt="@Model.DetailSubTitle">
        </div>
        <div class="panel-body">
            <h4 class="card-title">@Model.DetailTitle</h4>
            <sub>@Model.DetailSubTitle</sub>

            <p class="card-text">@Model.DetailParagraph</p>
        </div>
    </div>
</div>