@model RestaurantPlay2.Areas.ImageItems.ViewModels.ImageCard.SaveImageCardViewModel

@using (Ajax.BeginForm("SaveImageCard", "ImageCard", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "imageCards",
    HttpMethod = "POST"
}, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        @Html.HiddenFor(i => i.imageID)
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailTitle, new {@class = "control-label col-sm-4"})
                @Html.TextBoxFor(i => i.DetailTitle, new {@class = "form-control col-sm-8"})
                @Html.ValidationMessageFor(i => i.DetailTitle)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailSubTitle, new {@class = "control-label col-sm-4"})
                @Html.TextBoxFor(i => i.DetailSubTitle, new {@class = "form-control col-sm-8"})
                @Html.ValidationMessageFor(i => i.DetailSubTitle)
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailParagraph, new { @class = "control-label col-sm-4" })
                @Html.TextBoxFor(i => i.DetailParagraph, new { @class = "form-control col-sm-8" })
                @Html.ValidationMessageFor(i => i.DetailParagraph)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(i => i.Image, new { @class = "control-label col-sm-4" })
                @Html.TextBoxFor(i => i.Image, new { @class = "form-control col-sm-8", type = "file" })
                @Html.ValidationMessageFor(i => i.Image)
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.IsActive, new { @class = "control-label col-sm-4" })
                @Html.CheckBoxFor(i => i.IsActive)
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </div>
}
