@model RestaurantPlay2.Areas.ImageItems.ViewModels.ImageCard.SaveImageCardViewModel

@using (Ajax.BeginForm("SaveImageCard", "ImageCard", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        @Html.HiddenFor(i => i.imageID)
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailTitle, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.DetailTitle, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(i => i.DetailTitle)
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailSubTitle, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.DetailSubTitle, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(i => i.DetailSubTitle)
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailParagraph, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.DetailParagraph, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(i => i.DetailParagraph)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(i => i.Image, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.Image, new { @class = "form-control", type = "file", onchange= "imgChange();" })
                </div>
                @Html.ValidationMessageFor(i => i.Image)
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.IsActive, new { @class = "control-label col-sm-4" })
                @Html.CheckBoxFor(i => i.IsActive)
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary pull-right" onclick="SubmitCard(event)">Submit</button>
            </div>
        </div>
    </div>
}
<script>
    function SubmitCard(e) {
        e.preventDefault;

        if (!$('form').valid())
            return;

        var formData = $('#form0').serializeArray();
        var file = document.getElementById('Image').files[0];
        formData.push({ name: "ImageName", value: file.name});
        formData.push({ name: "Image", value: baseImg});
        
        $.post('/ImageCard/SaveImageCard',
            formData,
            function (data) {
                debugger;
                $('#ImageCardList').html(data);
                $('form').find('input').val('');
                toastr['success']('We were successfully able to save your card!', 'Success!');
            }).fail(function(data) {
                toastr['error']('We were unable to save the image error!', 'Error!');
        });
    }

</script>