@model RestaurantPlay2.Areas.ImageItems.ViewModels.ImageCard.SaveImageCardViewModel

@using (Ajax.BeginForm("SaveImageCard", "ImageCard", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        @Html.HiddenFor(i => i.imageID, new { @class="id"})
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailTitle, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.DetailTitle, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(i => i.DetailTitle)
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailSubTitle, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.DetailSubTitle, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(i => i.DetailSubTitle)
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.DetailParagraph, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.DetailParagraph, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(i => i.DetailParagraph)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(i => i.ImageBase, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.ImageBase, new { @class = "form-control", type = "file", onchange= "CustomScripts.ImgChange();" })
                </div>
                @Html.ValidationMessageFor(i => i.ImageBase)
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(i => i.IsActive, new { @class = "control-label col-sm-4" })
                @Html.CheckBoxFor(i => i.IsActive)
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary pull-right" onclick="CustomScripts.SubmitImageBasedForm(event,0);">Submit</button>
            </div>
        </div>
    </div>
}