@model RestaurantPlay2.Areas.ImageItems.ViewModels.ImageCardViewModel

<div class="col-sm-4">
    <div class="panel panel-default">

        @if (Model.IsEditable)
        {
            <div class="panel-heading">
                @*<a href="/Image/ImageCard/DeleteImageItem?ImageID=@Model.ImageId">Delete</a>&nbsp;&nbsp;&nbsp;*@
                @Html.ActionLink("Delete","DeleteImageCard", "ImageCard",new { area="ImageItems", ImageID=@Model.ImageId}, null)
                <a href="#" onclick="EditImageCard(@Model.ImageId)">Edit</a>
                <p>Is Active: @Model.DetailIsActive</p>
            </div>
        }

        <div class="panel-thumbnail">
            <img class="card-img-top" src="@Model.DetailImagePath" alt="@Model.DetailSubTitle">
        </div>
        <div class="panel-body">
            <h4 class="card-title">@Model.DetailTitle</h4>
            <sub>@Model.DetailSubTitle</sub>

            <p class="card-text">@Model.DetailParagraph</p>
        </div>
    </div>
</div>