<nav id="myNavbar" class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Cascata Country Restaurant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @*<li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>*@
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Edit Content <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">@Html.ActionLink("Edit Image Cards", "Index", "ImageCard", new { area = "ImageItems" }, new { })</a></li>
                        <li><a href="#">@Html.ActionLink("Edit Image Carousels", "Index", "ImageCarousel", new { area = "ImageItems" }, new { })</a></li>
                        <li><a href="#">@Html.ActionLink("Edit Menu Items", "Index", "MenuBuilder", new { area = "MenuBuilder" }, new { })</a></li>
												<li><a href="#">@Html.ActionLink("Write Blog", "Index", "Blogger", new { area = "Blogger" }, new { })</a></li>
                        <li><a href="#">@Html.ActionLink("View bookings", "GetBookingsAdminView", "BookNow", new { area = "BookNow" }, new { })</a></li>
                    </ul>
                </li>
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>*@
        </div>
        <!-- /.navbar-collapse -->
    }
    </div>
</nav>