@using RestaurantPlay2.Entities.Person
@model COREPerson

<div class="card text-center">
    <div class="card-header">
        Person ID = @Model.COREPersonID
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.COREPersonName @Model.COREPersonSurname</h5>
        <div class="card-text">
            <ul>
                <li>Mobile - @Model.COREPersonMobile</li>
                <li>Date of Birth - @Model.COREPersonDateOfBirth</li>
            </ul>
        </div>
        <a href="#" class="btn btn-primary">Yay</a>
    </div>
</div>
